body {
  /*This is styling the Whole Body */
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

.HomeSection {
  /*This is the Home Page Section*/
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageIcons {
  /*This is styling Icons Div that are in Home Page*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.firstImage,
.secondImage,
.thirdImage,
.forthImage,
.fifthImage {
  /*This is styling Indevidual Icons in Home Page*/
  height: 65px;
  width: 65px;
  background-color: rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.homePageIcons img {
  /*This is styling Icons in Home Page*/
  height: 50px;
  width: 50px;
}

.HomeTitle {
  /*This is styling Home Page Title*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.HomeTitle h1 {
  margin-bottom: 50px;
}

.slogan {
  /*This is styling Slogans in Home Page*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slogan p {
  /*This is styling P tags in Slogan Div*/
  margin-top: 0px;
  font-size: 20px;
}

.slogan .dot {
  /*This is styling Dots that I have between Logan*/
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*This is the Slogan Page*/
.sloganSection {
  /*This is Slogan Section*/
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sloganTitle {
  /*This is styling Slogan Title*/
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 865px;
}

.sloganDescription {
  /*This is styling Slogan Description Div*/
  width: 865px;
  margin: 0px;
}

.sloganDescription p {
  /*This is styling Slogan Description P tags*/
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*This is About Page*/
.AboutSection {
  /*This is styling About Section*/
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.aboutOne {
  /*This is styling First About Div*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.aboutOne img {
  /*This is styling First about Image*/
  height: 300px;
  width: 400px;
  border-radius: 20px;
}

.aboutOneInfo h1 {
  /*This is styling First about H1*/
  font-size: 32px;
}

.aboutOneDescription {
  /*This is styling First about Description Div*/
  width: 750px;
  font-size: 20px;
}

.aboutTwo {
  /*This is styling Second About Div*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.aboutTwo img {
  /*This is styling Second about Image*/
  height: 300px;
  width: 400px;
  border-radius: 20px;
}

.aboutTwoInfo h1 {
  /*This is styling Second about H1*/
  font-size: 32px;
}

.aboutTwoDescription {
  /*This is styling Second about Description Div*/
  width: 750px;
  font-size: 20px;
}

/*This is Example Page*/
.ExampleSection {
  /*This is styling Example Section*/
  height: 200vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.examplePage img {
  /*This is styling Example Page Image*/
  border-radius: 20px;
  border: 1px solid rgb(139, 138, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.exampleOne,
.exampleTwo,
.exampleThree,
.exampleFour,
.exampleFive,
.exampleSix {
  /*This is styling all the Examples that we have in the Page*/
  color: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

.workoutName {
  /*This is styling Workout Names*/
  font-size: 16px;
  cursor: pointer;
}

.exampleDiv {
  /*This is styling Example Div*/
  width: 260px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exerciseExamples {
  /*This is styling Exercise Examples*/
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.exampleTitle {
  /*This is styling Example Title*/
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleTitle h2 {
  /*This is styling example Title*/
  margin-bottom: 20px;
}

.exampleDescription {
  /*This is styling Example Description*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-bottom: 50px;
}

/*This is FAQ Page*/
.FAQSection {
  /*This is styling FAQ Section*/
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqPage {
  /*This is styling FAQ Page*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  gap: 20px;
}

.faqPage h2 {
  /*This is styling H2 elements in FAQ Page*/
  font-size: 25px;
}

.faqPage p {
  /*This is styling P elements in FAQ Page*/
  font-size: 18px;
}

/*This is Footer Page*/
.footerPage {
  /*This is styling Footer Page*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70%;
  margin-bottom: 20px;
}

.footerIcons {
  /*This is styling Footer Icons*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footerIcons img {
  /*This is styling Footer Images*/
  width: 40px;
  height: 40px;
}
