body {
  /*This is styling the Whole Body */
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

.HomeSection {
  /*This is the Home Page Section*/
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageIcons {
  /*This is styling Icons Div that are in Home Page*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.firstImage,
.secondImage,
.thirdImage,
.forthImage,
.fifthImage {
  /*This is styling Indevidual Icons in Home Page*/
  height: 65px;
  width: 65px;
  background-color: rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.homePageIcons img {
  /*This is styling Icons in Home Page*/
  height: 50px;
  width: 50px;
}

.HomeTitle {
  /*This is styling Home Page Title*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.HomeTitle h1 {
  margin-bottom: 50px;
}

.slogan {
  /*This is styling Slogans in Home Page*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slogan p {
  /*This is styling P tags in Slogan Div*/
  margin-top: 0px;
  font-size: 20px;
}

.slogan .dot {
  /*This is styling Dots that I have between Logan*/
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*This is the Slogan Page*/
.sloganSection {
  /*This is Slogan Section*/
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sloganTitle {
  /*This is styling Slogan Title*/
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 865px;
}

.sloganDescription {
  /*This is styling Slogan Description Div*/
  width: 865px;
  margin: 0px;
}

.sloganDescription p {
  /*This is styling Slogan Description P tags*/
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutOne {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.aboutOne img {
  height: 300px;
  width: 400px;
  border-radius: 20px;
}

.aboutOneInfo h1 {
  font-size: 32px;
}

.aboutOneDescription {
  width: 750px;
  font-size: 20px;
}

.aboutTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.aboutTwo img {
  height: 300px;
  width: 400px;
  border-radius: 20px;
}

.aboutTwoInfo h1 {
  font-size: 32px;
}

.aboutTwoDescription {
  width: 750px;
  font-size: 20px;
}
